@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* color variables */
  --subtle-green: #9ba67b;
  --light-beige: #f8f2d5;
  --dark-green: #454a2a;
  --lovely-yellow: #f1b23e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Noto Sans;
  font-weight: 400;
  background-color: var(--light-beige);
}

.header-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lovely-yellow);
  font-size: 2rem;
  height: 5rem;
  color: var(--light-beige);
  font-weight: 800;
}

.main-content {
  margin: 2rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.question-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--subtle-green);
  height: 250px;
  border-radius: 5%;
  padding: 1rem;
}

.question-button {
background-color: var(--dark-green);
color: var(--subtle-green);
border: none;
height: 2rem;
width: ;
}
