.footer {
  display: flex;
}

.footer__item {
  flex-grow: 1;
}

.footer__link {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1rem 2rem;
  color: var(--creamer);
}

.footer__link--active {
  background-color: var(--lemon-glaze);
}
