.profile {
  display: grid;
  width: 100%;
  padding: 2rem;
  place-content: center;
  
}

.profile__image {
  height: 10rem;
  border-radius: 10px;
  place-self: center;
  border: 3px solid var(--lemon-glaze);
}

.profile__text {
  display: grid;
  background-color: var(--creamer);
  margin-top: 1rem;
  padding: 2rem;
  gap: 1rem;
  border-radius: 8px;
}

.profile__name {
  color: var(--lemon-glaze);
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

.profile__level {
  color: var(--sweet-syrup);
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.button__darkmode {
  width: 40px;
  height: 20px;
  padding-top: 2px;
  justify-self: end;
  border: none;
  border-radius: 8px;
  background-color: var(--blueberries);
}

.button__darkmode-icon {
  height: 15px;
  color: var(--lemon-glaze);
  fill: currentColor; 
}

.light {
  background-color: var(--lemon-glaze);
}

.icon__lightmode {
  height: 15px;
  color: var(--creamer);
  fill: currentColor;
}

 .dark {
  background-color: var(--darksweet-syrup);
  color: var(--creamer);
 }